<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://dimg.donga.com/wps/SPORTS/IMAGE/2012/12/08/51417907.2.jpg</string>
	<string>http://pds23.egloos.com/pds/201210/22/91/b0041991_50852b28807bb.jpg</string>
	<string>http://blog.nemesys.co.kr/tt/attach/1/1105949502.jpg</string>
	<string>http://upload.wikimedia.org/wikipedia/commons/thumb/8/85/LG_%EC%98%B5%ED%8B%B0%EB%A8%B8%EC%8A%A4_3D_%26_LG_%EC%8B%9C%EB%84%A4%EB%A7%88_3D_TV_CF_%EC%B4%AC%EC%98%81_%EC%82%AC%EC%A7%84_%28cropped%29.jpg/200px-LG_%EC%98%B5%ED%8B%B0%EB%A8%B8%EC%8A%A4_3D_%26_LG_%EC%8B%9C%EB%84%A4%EB%A7%88_3D_TV_CF_%EC%B4%AC%EC%98%81_%EC%82%AC%EC%A7%84_%28cropped%29.jpg</string>
	<string>http://www.toshare.kr/files/attach/images/783825/779/070/019/%EA%B9%80%ED%83%9C%ED%9D%AC2.jpg</string>
	<string>http://www.manchu.webege.com/data/file/0302/3077301852_DO6aQRmf_ED839CED9DAC1_28129.jpg</string>
	<string>http://cfs4.tistory.com/upload_control/download.blog?fhandle=YmxvZzcwMTYxQGZzNC50aXN0b3J5LmNvbTovYXR0YWNoLzAvMDIwMDAwMDAwMDAwLmpwZw%3D%3D</string>
	<string>http://loserman.net/files/attach/images/803/041/004/03.jpg</string>
	<string>http://www.newizone.com/n1/files/attach/images/496/842/003/04118a761d1309d692b587f6b13993dc.jpg</string>
	<string>http://windowsforum.kr/files/attach/images/2966154/905/237/003/f45cf1ad9240d0a2a152593d8b38016f.JPG</string>
	<string>http://www.nemopan.com/files/attach/images/421/140/446/005/%EA%B9%80%ED%83%9C%ED%9D%AC.jpg</string>
</array>
</plist>
